.quickLone {
  margin-top: 2rem;
}

.quickLone__wrapper--header .settings {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #4e4e4e;
}

.quickLone__wrapper--header h4 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4rem;
  color: #444444;
}

.quickLone__wrapper-nav {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.quickLone__wrapper-nav p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.quickLone__wrapper--header a{
  text-decoration: none;
}

.quickLone__wrapper-nav .active {
  /* height: 56px; */
  width: 89px;
  left: 378px;
  top: 0px;
  border-radius: 8px;
  padding: 10px 24px 10px 24px;
  border: 1px solid #fcfcfc;
  background: #0a244f;
  color: #fcfcfc;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.quickLone__wrapper-body {
  /* height: 960px;
width: 997.0000610351562px; */
  /* left: 359px;
top: 359px; */
  height: 960px;
  border-radius: 16px;
  padding: 48px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 25px 0px #0000000d;
  margin-top: 3rem;
  background: #fff;
}

.quickLone__wrapper-body-header {
  border-bottom: 1px solid #8b8b8b;
  width: 100%;
}

.quickLone__wrapper-body-header h4 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
  margin-bottom: 2rem;
}

.quickLone__wrapper-content__container {
  display: flex;
  /* align-items: center; */
  margin-top: 2rem;
}

.quickLone__wrapper-body-left {
  border-right: 1px solid #8b8b8b;
  height: 80vh;
  flex: 0.2;
  padding-right: 1rem;
}

.quickLone__wrapper-body-left p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #8b8b8b;
  margin-top: 2rem;
}

.quickLone__wrapper-body-left p:first-child {
  /* height: 22px; */
  width: 171px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 4px 8px 4px 8px;
  background: #023c98;
  margin-top: 0rem;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.quickLone__wrapper-body-left p:nth-child(5) {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.quickLone__wrapper-body-left p:nth-child(6) {
  height: 39px;
  width: 171px;
  left: 0px;
  top: 35px;
  border-radius: 0px;
  padding: 10px;
  background-color: #fff0ec;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #e4572e;
  margin-bottom: 1rem;
}

.quickLone__wrapper-body-left p:nth-child(7) {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #555555;
}

.quickLone__wrapper-body-left button {
  margin-top: 0.5rem;
  height: 44px;
  width: 171px;
  left: 0px;
  top: 72px;
  border-radius: 8px;
  padding: 10px;
  background: #e4572e;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #de1c10;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.quickLone__wrapper-body-left button svg {
  height: 16px;
  width: 16px;
  left: 4px;
  top: 4px;
  border-radius: 0px;
}

.quickLone__wrapper-body-right {
  flex: 0.8;
}

.quickLone__wrapper-body-right {
  padding-left: 1rem;
}

.quickLone__wrapper-body-right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quickLone__wrapper-body-right-top h5 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #e4572e;
}

.quickLone__wrapper-body-right-top button {
  height: 32px;
  width: 92px;
  left: 582px;
  top: -2px;
  border-radius: 4px;
  padding: 4px 16px 4px 16px;
  background: #e4572e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  color: #fff;
}

.quickLone__wrapper-body-right .first-p {
  margin-top: 1rem;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.quickLone__button-wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quickLone__button-wrapper button {
  height: 40px;
  /* width: 132px; */
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  border: 1px solid #9b9b9b;
  background: #fff0ec;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.019em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */

  color: #444444;
}

.quickLone__wrapper-body-main__container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quickLone__wrapper-body-main-left {
  height: 27px;
  width: 310px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #0a244f;
}

.quickLone__wrapper-body-main-left h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: #ffffff;
  margin-top: 0.2rem;
}

.quickLone__wrapper-body-main-right {
  height: 27px;
  width: 310px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #e4572e;
}

.quickLone__wrapper-body-main-right h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: #ffffff;
  margin-top: 0.2rem;
}

.quickLone__button-wrapper button img {
  margin-right: 0.5rem;
}

.quickLone__wrapper-body-main-left-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.quickLone__wrapper-body-main-left-body p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.quickLone__wrapper-body-main-left-body svg {
  color: #19a301;
}

.quickLone__wrapper-body-main-right-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.quickLone__wrapper-body-main-right-body p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #444444;
}

.quickLone__wrapper-body-main-right-body svg {
  color: #de1c10;
}

@media screen and (max-width: 1024px) {
  .quickLone__wrapper-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .quickLone__wrapper-nav p {
    font-size: 15px;
  }

  .quickLone__wrapper-body-left {
    display: none;
  }

  .quickLone__wrapper-body-right {
    flex: 1;
  }

  .quickLone__wrapper-body-main-right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
}
